.form{
    display: flex;
    justify-content: center;
}

.input{
    font-size: 30px;
}

.btn{
    font-size: 20px;
    margin-left: 20px;
    border-radius: 6px;
}
.btn:hover{
    opacity: 0.6;
    background-color: black;
    color:white;
    transition: all 0.50s;
}
